html {
  font-family: Helvetica;
}

h1 {
  font-size: 100px;
  font-weight: bold;
  color: Khaki;
  text-align: center;
  background-image: url("./img/pattern.jpg");
}

h2 {
  font-size: 32px;
  font-weight: bold;
  color: White;
}

h2.brushes {
  background-color: MediumSpringGreen;
}

h2.frames {
  background-color: LightCoral;
}

h2.paint {
  background-color: SkyBlue;
}

strong {
  font-weight: bold;
  color: blue;
}
